:root {
    --bg-color: #282828;
    --font-color: #c5c8c6;
    --terminal-screen-height: 600px;
    --terminal-screen-width: 90vw;
    --font-color-keyword: #a1569f;
    --font-size: 18px;
}
